@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);
/* 숨긴 제목 및 숨김 콘텐츠 */
.a11y-hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0); /* 요소의 좌표를 설정해서 안보이게 해준다 */
  clip: rect(0 0 0 0);
  clip: rect(0,0,0,0);
}

body *,        /* 성능면에서 body를 붙여주는게 좋다 */
body *::before,
body *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-family: 'Spoqa Han Sans', 'Sans-serif'; /* 앞은 font , 뒤는 글꼴 군 (고딕체) */
  font-size: 1.4rem;
  color: #181818;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 스킵 네비게이션 */
.skip-nav {
  display: none;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  border-radius: 0 0 15px 15px;
  position: relative;
  padding: 0 30px;
}
/* 로고 */
.header .logo {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 65px;
}
/* 안내 링크 목록 */
.header .member {
  padding-left: 0;
  margin: 0;
  text-align: right;
  list-style: none;
}
.header .member li {
  display: inline-block;
  padding: 2px 0;
}
.header .member li a {
  display: inline-block;
  padding: 6px 0;
}

/* 네비게이션 */
.navigation {
  padding-bottom: 35px;
}
.menu {
  background-color: #ed552f;
  background: linear-gradient(
    to bottom,
    #e8852e 0%,
    #ed552f 35%, 
    #ed552f 70%, 
    #e8852e 100%);
  margin: 10px 0 0 0;
  padding-left: 225px;
  list-style: none;
  height: 47px;
  border-top: 2px solid currentColor; /* 현재 컬러를 적용 */
  border-radius: 0 0 5px 5px;
}
.menu-item {
  float: left;
  position: relative;
}
.menu-button {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  background: transparent;
  border: none;
  border-left: 2px solid rgba(255,255,255, 0.5);
  padding: 0 20px;
  line-height: 45px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
  cursor: pointer;
  display: block;
}
.menu-act .menu-button {
  color: #ff0;
}
.menu-act .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}
.sub-menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: none;
  position: absolute;
  white-space: nowrap;
  top: 47px;
}
.sub-menu li,
.sub-menu a {
  display: inline-block;
}
.sub-menu a {
  margin-right: 10px;
  padding: 8px 0;
}
.sub-menu a::before {
  content: '\f192';
  font-family: 'fontello';
  margin-right: .2em;
  width: 1em;
}
.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: '\e800';
  font-family: 'fontello';
}
.menu-act .sub-menu {
  display: block;
}
.sub-menu1,
.sub-menu2,
.sub-menu3 {
  /* display: none; */
}
.sub-menu4,
.sub-menu5,
.sub-menu6 {
  /* display: block; */
  right: 0;
}
/* 텍스트 및 배경 애니메이션 - 비주얼 */
@keyframes textAni {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% { 
    opacity: 0;
  }
}
.visual {
  height: 120px;
  background: url("/css/images/bg_flower.png") center;

  position: relative;
}
.visual::before,
.visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: bgAni 2s alternate infinite ease-in-out;
}
.visual::before {
  background-image: url("/css/images/ani_flower_01.png"),
                    url("/css/images/ani_flower_02.png"); 
  background-position: 0 -10px, 670px 0; /* 이미지 순서대로 앞부터 적용 */            
}
.visual::after {
  background-image: url("/css/images/ani_flower_03.png"),
                    url("/css/images/ani_flower_04.png");
  background-position: 300px 0, 800px 0;
  animation-delay: 1s; 
}

.visual-text {
  width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}
.main {

  padding: 30px 15px;  
  /* overflow: hidden; 유연한 UI를 만들기 어려워 clearfix로 풀어주는 것이 더좋다 */
  min-height: 450px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main .group {
  float: left;
  margin: 0 15px;
}
.main .group1 {
  width: 250px;

}
.main .group2 {
  width: 380px;

}
.main .group3 {
  width: 190px;
  
}
/* 로그인 */
.login {
  background: radial-gradient(circle at right top , #e8852e, #ed552f );
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
  padding: 15px 10px;
}
.login-heading{
  margin: 0;
  color: #ff0;
  font-size: 1.6rem;
  font-weight: 700;
  text-indent: 10px;
}
.login-form{
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  background: #fff;
  border-radius: 5px 5px 0 0;
}
.login-form fieldset {
  border: none;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.user-email,
.user-pw {
  margin-bottom: 5px;
}

.user-email *, 
.user-pw *{
  vertical-align: middle;
}
.login-form label {
  width: 4em;
  display: inline-block;
}
.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #ccc;
  padding: 1px 1px 1px 0.5em;
}
.btn-login {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0 5px;
  border: none;
  border-radius: 3px;
  background: #ed552f;
  color: #fff;
  top: 0;
  right: 0;
}
.login-member {
  background: #fff;
  padding-left: 0;
  padding: 2px 10px;
  margin: 0;
  list-style: none;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  letter-spacing: -1px;
}
.login-member li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.login-member .icon-right-open {
  color: #ed552f;
}
.login-member a{
  display: block;
  padding: 8px 0;
}
/*유효성 검사 배너 */
.validation-list {
  margin: 25px 0 0 0;
  list-style: none;
  padding-left: 0;
}
.validation-item a{
  display: block;
  border-radius: 20px;
  border: 1px solid #aaa;
  background: url(/css/images/validation_icon.png) 25px 50% / 20px 20px no-repeat,
              linear-gradient(to bottom, #eee, #ccc);
  padding: 8px 10px 8px 50px;
  margin-top: 10px;  
}
.validation-item a:hover,
.validation-item a:focus {
  color: #f00;
}
/* term */
.term {
  background: linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid #aaa;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;

}
.term-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 700;
}
.term-list {
  margin: 15px 0 0 0;
  
}
.term-list div {
  overflow: hidden;
}
.term div:nth-child(even) {
  margin-top: 15px;
}
.term-list-subject,
.term-list-brief {
  float: right;
  width: 145px;
}
.term-list-subject {
  color: #296897;
}
.term-list-thumbnail {
  float: left;
}
.term-list-thumbnail img {
  display: block;
}
.term-list-brief {
  line-height: 1.5;
}
.term-list dd {
  margin-left: 0;
}
.term-list div:nth-child(even) .term-list-subject,
.term-list div:nth-child(even) .term-list-brief {
  float: left;
}
.term-list div:nth-child(even) .term-list-thumbnail {
  float: right;
}

/* 검색 폼 */
.search-form {
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-bottom: transparent;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
}
.search-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.search-form-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.search-form [name="search"] {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 0.5em;
  height: 22px;
  width: 190px;
}
.search-form .btn-search {
  background: #333;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 22px;
  padding: 0 10px;
  color: #fff;
}

/* .search-form {
  background: linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid #aaa;
  padding: 5px;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}
.search-form fieldset {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  margin: 0 5px;
  width: 150px;
}
.search-form .btn-search {
  background: #181818;
  color: #fff;
  border-radius: 3px;
  
} */
.board {
  position: relative;
  margin-top: 20px;
}

.notice-list,
.pds-list,
.notice-more,
.pds-more {
  display: none;
}

.is-active .notice-list,
.is-active .pds-list,
.is-active .notice-more,
.is-active .pds-more {
  display: block;
}
.tab {
  position: absolute;
  top: 0;
  margin: 0;
}
.notice-heading {
  left: 0;
}
.pds-heading {
  left: 83px;
}
.tab a {
  display: block;
  border-radius: 5px 5px 0 0;
  border: 1px solid #aaa;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  color: #999;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px 15px;
}
.is-active .tab {
  z-index: 5;
}
.is-active .tab a {
  color: #ed552f;
  border-color:  #ed552f #ed552f #fff #ed552f;
  background: #fff;
}
.notice-list,
.pds-list {
  list-style: none;
  padding-left: 0;
  padding-top: 45px;
  margin: 0;
  /* position: absolute;
  left: 0;
  top: 45px; */
  width: 100%;
  min-height: 170px;
  
}
.notice-list {

}
.notice-list li,
.pds-list li {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}
.notice-list a,
.pds-list a{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice-more,
.pds-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.notice-more::before,
.pds-more::before {
  color: hsla(110, 50%, 30%, 1);
}
/* 새소식 */
.news {
  margin-top: 20px;
  position: relative;
}
.news::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #ccc linear-gradient(to right, #ccc,#fff);
}
.news-heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ed552f;
  margin: 0;
}
.news-article {
  margin-top: 35px;
}
.news-article-link {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "thumbnail subject"
  "thumbnail date"
  "thumbnail brief";
}
.news-article-subject {
  margin: 0 0 5px;
  grid-area: subject;
  font-size: 1.5rem;
}
.news-article-date {
  grid-area: date;
}
.news-article-brief {
  margin: 10px 0 0;
  grid-area: brief;
  line-height: 1.5;
}
.news-article-thumbnail {
  margin: 0;
  grid-area: thumbnail;
}
.news-article-thumbnail img {
  box-shadow: 0 15px 15px #aaa;
}
.news-article-thumbnail figcaption {
  margin-right: 18px;
  text-align: center;
  margin-top: 15px;
}
.news-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}
.news-more::before {
  color: hsla(110, 50%, 30%, 1);
}

/* 신규 이벤트 및 관련 사이트 */
.gradient-box {
  border: 1px solid #aaa;
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border-radius: 5px;
  padding: 10px;
}
.event {
  position: relative;
}
.event-heading,
.related-heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}
.point-color {
  color: #ed552f;
}
.event-thumbnail img {
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #aaa;
}
.event-brief {
  line-height: 1.5;
}
.event-brief em {
  font-style: normal;
}
.btn-event {
  position: absolute;
  top: 0;
  right: 0;
}
.btn-prev,
.btn-next {
  box-sizing: boredr-box;
  
  overflow: hidden;
  height: 18px;
  border: 0;
  padding: 18px 0 0;
  width: 19px;
  background: transparent url(/css/images/back_forward.png) 0 0 no-repeat;
}
.btn-next {
  background-position: -36px 0;
}
/* .event {
  position: relative;
}
.event-heading {
  font-size: 1.6rem;
  margin: 0;
  padding: 10px 5px 0;
}
.point-color {
  color: orangered;
}
#eventDetail {
  padding: 10px;
  text-align: center;
}
.event-thumbnail {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
.event-brief {

}
.event-brief em {
  font-style: normal;
}
.btn-event {
  position: absolute;
  top: 10px;
  right: 10px;
  
}
.btn-prev {
  border: none;
  background-image: url("/css/images/back_forward.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 18px;
  margin-right: 5px;
  padding-top: 16px;
  overflow: hidden;
}
.btn-next {
  border: none;
  background-image: url("/css/images/back_forward.png");
  background-repeat: no-repeat;
  background-position: -37px 0;
  width: 19px;
  height: 18px;
  padding-top: 16px;
  overflow: hidden;
} */
.slogan {
  background: orange;
  height: 100px;
}
.footer {
  width: 100%;
  background: pink;
  height: 150px;
}